@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default
}
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'aos/dist/aos.css';

.flex-center {
  @apply flex justify-center items-center
}

ul .active {
  @apply btn btn-dash btn-success
}